doctype html
html
  head
    title hello world!
    link(rel="stylesheet", href="main.css")
  body
    h1 we use jade to generate this
    p It semms like really it works :)
    script(src="app.js")

